@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family:"Poppins",sans-serif;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url('img.jpg')no-repeat;
	background-size: cover;
	background-position: center;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px 100px;
	display: flex;
	justify-content: space-between;
	background: transparent;
	border: 2px solid rgba(255,255,255,.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);

}

.blood{
	font-size: 2em;
	color: #fff;
	user-select: none;
}


.navigation .but1{
  	position: relative;left: -70px; bottom: -13px;
  	width: 45%;
  	height: 28px;
  	background: #fff;
  	border: none;
  	outline: none;
  	border-radius: 40px;
  	box-shadow: 0 0 10px rgba(0,0,0,.5);
  	cursor: pointer;
  	font-size: 1.2em;
  	color: #333;
  	font-weight: 600;
}

.navigation .but1:hover,.navigation .but1 button:focus {
	motion: auto;
	background: #148f77;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}
.navigation .but1:active {
  transform: translateY(2px);
  box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.2);
}
.navigation .a1{
	position: relative;left: -80px; bottom: -12px;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
}

.navigation .a2{
	position: relative;left: 150px; bottom: 16px;
	font-size: 1.2em;
	color: #fff;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;

}

.wrapper{
	width: 420px;
	height: 480px;
	background: transparent;
	border: 2px solid rgba(255,255,255,.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	color: #fff;
	border-radius: 10px;
	padding: 30px 40px;
}
 .wrapper h1{
 	text-shadow: 0 0 10px rgba(0,0,0,.5);
 	-webkit-text-stroke-width:.7px;
 	-webkit-text-stroke-color:white;
 	font-weight: 600;
 	font-size: 32px;
 	text-align: center;
 	color: transparent;


 }
 .wrapper .input-box{
 	position: relative;
 	width: 100%;
 	height: 50px;
 	margin: 30px 0;
 }

 .input-box input{
 	width: 100%;
 	height: 100%;
 	background: transparent;
 	border:none;
 	outline: none;
 	border: 2px solid rgba(255,255,255,10);
 	border-radius:40px;
 	font-size: 16px;
 	color: #fff;
 	padding: 20px 45px 20px 20px;
 }
  .input-box input::placeholder{
  	color:#fff;
  }
  .input-box i{
  	position: absolute;
  	right: 20px;
  	top:50%;
  	transform: translateY(-50%);
  	font-size: 20px;
  }

  .btn{
  	padding: 10px;
  	position: relative; left: 70px; bottom: -20px;
  	width: 60%;
  	height: 50px;
  	background: #fff;
  	border: none;
  	outline: none;
  	border-radius: 40px;
  	box-shadow: 0 0 10px rgba(0,0,0,.5);
  	cursor: pointer;
  	font-size: 16px;
  	color: #333;
  	font-weight: 600;
  }
  .wrapper .btn :hover{
  	padding: 10px;
  	position: relative; left: 70px; bottom: -20px;
  	width: 60%;
  	height: 50px;
  	background: #fff;
  	border: none;
  	outline: none;
  	border-radius: 40px;
  	box-shadow: 0 0 10px rgba(0,0,0,.5);
  	cursor: pointer;
  	font-size: 16px;
  	color: #999;
  	font-weight: 600;
  }

  